* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    
    }
.main-image {
    width: 41%;
}

.main-text {
    width: 59%;
    margin: 31px ;
}

.title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 23px;
    color: #000000;
    
}

.subheadline {
    margin-bottom: 23px;
    display: block;
    font-size: 30px;
    font-weight: 400;
    text-align: left

}
.p {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    text-align: left;

}

.price {
    color: #313131;
    font-size: 48px;
    font-weight: 400;
    text-align: left;
    

}

.buttons {
    margin-top: 55px;
    border-radius: 5px;
    margin-top: 50px;
    

}

.btn {
    color: white;
    padding:  20px 66px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 6px;
    margin-right: 40px;
    display: inline-block;
    max-width: 250px;
    text-align: center;
    
    
}
.blue {
    background-color: #4572d7;
    text-decoration: white;
    margin-right: 40px;
    

}

.white {
    color: #4572d7;
    text-decoration: none;
    border: 1px solid;
       
}

.shipping {
    padding-top: 88px;
    padding-bottom: 99px;
    background-color: #f2f2f2;
    text-align: center;
 
    

}

.shipping-headline {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #333333;
    margin-bottom: 90px;
    

}
.shipping-wrap {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;


}
.shipping-item {
    text-align: center;
    width: 23%;
    margin-bottom: 40px;
    
}
.shipping-item img {
    display: block;
    margin: auto;
    height: 50px;

}

.img-src {
    padding-bottom: 25px;
}

.shipping-item span {
    margin-top: 30px;
    display: block;
    text-align: center;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
      
}

.already-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.already-subtitle {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 69px;
}

.people {
    padding-top: 100px;
    padding-bottom: 100px;
  
}

.already-item {
    width: 25%;
}

@media (max-width: 1200px) {
    .already-item {
        width: 33%;
    }
    .shipping-item {
        width: 33%;
    }
    .title {
        width: 33%
    }
    .subheadline {
        width: 33%;
    }
        
    .price {
        width: 33%;
    }
    .buttons {
        width: 33%;
    }


}


@media (max-width: 767px) {
    .already-item {
        width: 49%;
    }
    .shipping-item {
        width: 49%;
    }
    .title {
        width: 49%;
        }
    .subheadline {
        width: 49%;
        }
            
    .price {
        width: 349%;
        }
    .buttons {
         width: 49%;
        }
}